body{
    background-color: black;
    color: white; 
    overflow: hidden;   
}
#enter{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 18px;  
    position: relative;
    left: 340px;
    top: 10px;  
}
#textBox{
    position: relative;
    left: 340px;
    font-size: 18px;
    top: 10px;
      
}
#convert{
    position: relative;
    left: 340px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 18px;
    top: 10px;  
}
#celsius{
    position: relative;
    left: 340px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 18px;
    top: 10px;  
}
#cButton{
    position: relative;
    left: 340px;
    top: 10px;
}
#fahrenheit{
    position: relative;
    left: 340px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 18px;
    top: 10px;  
}
#fButton{
    position: relative;
    left: 340px;
    top: 10px;
}
#button{
    position: relative;
    left: 420px;
    background-color: white;
    color: black;
    font-size: 18px;
}
#result{
    position: relative;
    left: 340px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 18px; 
    top: 10px; 
}
#tempLabel{
    position: relative;
    left: 340px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 18px;
    top: 10px;  
}

h1{
    border: 1px solid;
    font-size: 30px;  
    border-bottom-style: solid;
    width: 400px;
    text-align: center; 
    text-shadow: 0px -5px 5px red, 0px 2px 2px yellow; 
    background-color: black; 
    position: relative;
    left: 400px;

    animation: clockAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes clockAnimation{
    50% {transform: scale(0.5,0.5);}
}


@media (max-width: 775px){  
 
#enter{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 15px;  
    position: relative;
    left: 300px;
    top: 10px;  
}
#textBox{
    position: relative;
    left: 300px;
    font-size: 15px;
    top: 10px;
      
}
#convert{
    position: relative;
    left: 300px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 15px;
    top: 10px;  
}
#celsius{
    position: relative;
    left: 300px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 15px;
    top: 10px;  
}
#cButton{
    position: relative;
    left: 300px;
    top: 10px;
}
#fahrenheit{
    position: relative;
    left: 300px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 15px;
    top: 10px;  
}
#fButton{
    position: relative;
    left: 300px;
    top: 10px;
}
#button{
    position: relative;
    left: 320px;
    background-color: white;
    color: black;
    font-size: 15px;
}
#result{
    position: relative;
    left: 300px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 15px; 
    top: 10px; 
}
#tempLabel{
    position: relative;
    left: 300px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 15px;
    top: 10px;  
}

h1{
    border: 1px solid;
    font-size: 20px;  
    border-bottom-style: solid;
    width: 300px;
    text-align: center; 
    text-shadow: 0px -0px 0px red, 0px 0px 0px yellow; 
    background-color: black; 
    position: relative;
    left: 250px;
}
body{
    overflow: hidden;
}    
}

@media (max-width: 703px){  
 
    #enter{
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold; 
        font-size: 10px;  
        position: relative;
        left: 200px;
        top: 10px;  
    }
    #textBox{
        position: relative;
        left: 200px;
        font-size: 10px;
        top: 10px;
          
    }
    #convert{
        position: relative;
        left: 200px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold; 
        font-size: 10px;
        top: 10px;  
    }
    #celsius{
        position: relative;
        left: 200px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold; 
        font-size: 10px;
        top: 10px;  
    }
    #cButton{
        position: relative;
        left: 200px;
        top: 10px;
    }
    #fahrenheit{
        position: relative;
        left: 200px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold; 
        font-size: 10px;
        top: 10px;  
    }
    #fButton{
        position: relative;
        left: 200px;
        top: 10px;
    }
    #button{
        position: relative;
        left: 220px;
        background-color: white;
        color: black;
        font-size: 10px;
    }
    #result{
        position: relative;
        left: 200px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold; 
        font-size: 10px; 
        top: 10px; 
    }
    #tempLabel{
        position: relative;
        left: 200px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold; 
        font-size: 10px;
        top: 10px;  
    }
    
    h1{
      visibility: hidden;
    }
    body{
        overflow: hidden;
        background-color: aquamarine;
        color: black;
    }    
    }
